{% extends 'base.html' %} 
{% block head_title %} 
Empleados
{% endblock head_title %} 
{% block titulo_principal %} 
Empleados
{% endblock titulo_principal %} 
{% block enlace_actual %}
<li class="breadcrumb-item"><a href="/empleado">Empleados</a></li> 
{% endblock enlace_actual %} 
{% block contenido %}
<div class="tile">
    <div class="tile-body table-responsive">
        <div class="d-flex mb-2">
            <h3 class="tile-title">Empleados</h3>
            <div class="float-right ml-auto">
                <a class="btn btn-outline-success" href="{% url 'empleado:create' %}"><i
                        class="fa fa-plus icon-expe"></i>Crear Expediente</a>
            </div>
        </div>
        {% if messages %} 
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert {% if message.tags == 'error' %}alert-danger {% endif %}" role="alert">{{ message }}</div>
            {% else %}
            <div class="alert {% if message.tags == 'success' %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endif %}
            {% endfor %} 
        {% endif %} 
        {% if empleado_list %}
        <table class="table table-striped text-center" id="empleado">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Identificación</th>
                    <th>Nit</th>
                    <th>Tipo de Empleado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleado_list %}
                <tr>
                    <td>{{ empleado.primer_nombre }} {{ empleado.segundo_nombre }} {{ empleado.apellido_paterno }} {{ empleado.apellido_materno }}</td>
                    <td>{% if empleado.tipo_identificacion == 'TipoIdentificacionChoice.DU' %}
                        DUI:
                    {% else %} 
                        Pasaporte:
                    {% endif %}
                    {{ empleado.identificacion }}</td>
                    <td>{{ empleado.nit }}</td>
                    <td>
                        {% if empleado.tipo_empleado == "TipoEmpleadoChoice.EA" %}
                        Administrativo
                        {% else %}
                        Comisión
                        {% endif %}
                    </td>
                    
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-outline-primary mr-2" href="{% url 'empleado:show' empleado.id %}"><i class="fa fa-eye icon-expe"></i></a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Empleados no disponibles</p>
        {% endif %}
    </div>
</div>
{% endblock contenido %}
{% block plugins %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    $('#empleado').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json",
        },
    });
</script>
{% endblock plugins %}