{% extends 'base.html' %} 
{% block head_title %} 
Agregar Roles
{% endblock head_title %} 
{% block titulo_principal %} 
Roles
{% endblock titulo_principal %} 
{% block enlace_actual %}
<li class="breadcrumb-item"><a href="/usuarios/">Usuarios</a></li> 
{% endblock enlace_actual %} 
{% block contenido %}
<div class="tile">
    <div class="tile-body table-responsive">
        <div class="d-flex mb-2">
            <h3 class="tile-title">Usuario: {{usuario.username}}</h3>
        </div>
        {% if messages %} 
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert {% if message.tags == 'error' %}alert-danger {% endif %}" role="alert">{{ message }}</div>
            {% else %}
            <div class="alert {% if message.tags == 'success' %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endif %}
            {% endfor %} 
        {% endif %} 


        <div class="row">
            <div class="col-md-6">
                <div class="d-flex mb-2">
                    <h3 class="tile-title">Roles de este usuario</h3>
                </div>
                {% if mis_groups %}
                <table class="table table-striped text-center" id="mis_permisos">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in mis_groups %}
                        <tr>
                            <td>{{group.id}}</td>
                            <td>{{group.name}}</td>
                            <td class="d-flex justify-content-center">
                                <form method="post" action="{% url 'usuario:asignar_rol' usuario.id group.id %}">
                                    {% csrf_token %}
                                    <input type="text" value="eliminar" id="id_permiso" name="id_permiso" hidden="" />
                                    <button type="submit" class="btn btn-outline-danger mr-2" ><i class="fa fa-remove icon-expe"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>Este usuario no tiene roles</p>
                {% endif %}
            </div>
    
            <div class="col-md-6">
                <div class="d-flex mb-2">
                    <h3 class="tile-title">Seleccione los roles que desea para este usuario</h3>
                </div>
                {% if groups %}
                <table class="table table-striped text-center" id="permisos">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in groups %}
                        <tr>
                            <td>{{group.id}}</td>
                            <td>{{group.name}}</td>
                            <td class="d-flex justify-content-center">
                                <form method="post" action="{% url 'usuario:asignar_rol' usuario.id group.id %}">
                                    {% csrf_token %}
                                    <input type="text" value="agregar" id="id_permiso" name="id_permiso" hidden="" />
                                    <button type="submit" class="btn btn-outline-info mr-2" ><i class="fa fa-check icon-expe"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No tiene roles disponibles</p>
                {% endif %}
            </div>

        </div>


    </div>
</div>



{% endblock contenido %}
{% block plugins %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    $('#permisos').DataTable({
        "order": [[ 0, "desc" ]],
        "pageLength": 5, 
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json",
        },
    });
    
    $('#mis_permisos').DataTable({
        "order": [[ 0, "desc" ]],
        "pageLength": 5, 
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json",
        },
    });

</script>


{% endblock plugins %}