{% extends 'base.html' %} 
{% block head_title %} 
Permisos
{% endblock head_title %} 
{% block titulo_principal %} 
Permisos
{% endblock titulo_principal %} 
{% block enlace_actual %}
<li class="breadcrumb-item"><a href="/usuarios/index_permisos/">Permisos</a></li> 
{% endblock enlace_actual %} 
{% block contenido %}
<div class="tile">
    <div class="tile-body table-responsive">
        <div class="d-flex mb-2">
            <h3 class="tile-title">Roles/Grupos</h3>
            <div class="float-right ml-auto">
            </div>
        </div>
        {% if messages %} 
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert {% if message.tags == 'error' %}alert-danger {% endif %}" role="alert">{{ message }}</div>
            {% else %}
            <div class="alert {% if message.tags == 'success' %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endif %}
            {% endfor %} 
        {% endif %} 
        {% if permisos %}
        <table class="table table-striped text-center" id="planilla">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Codigo</th>
                </tr>
            </thead>
            <tbody>
                {% for permiso in permisos %}
                <tr>
                    <td>{{permiso.id}}</td>
                    <td>{{permiso.name}}</td>
                    <td>{{permiso.codename}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Permisos no disponibles</p>
        {% endif %}
    </div>
</div>



{% endblock contenido %}
{% block plugins %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    $('#planilla').DataTable({
        "order": [[ 0, "desc" ]],
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json",
        },
    });

</script>


{% endblock plugins %}