{% extends 'base.html' %} {% block head_title %} Usuarios {% endblock head_title %} {% block titulo_principal %} Usuarios {% endblock titulo_principal %} {% block enlace_actual %}
<li class="breadcrumb-item"><a href="/usuario">Usuarios</a></li> {% endblock enlace_actual %} {% block contenido %}
<div class="tile">
    <div class="tile-body table-responsive">
        <div class="d-flex mb-2">
            <h3 class="tile-title">Usuarios</h3>
            <div class="float-right ml-auto">
                <a class="btn btn-outline-success" href="{% url 'usuario:create' %}"><i
                        class="fa fa-plus icon-expe"></i>Registrar</a>
            </div>
        </div>
        {% if messages %} {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %} {% endif %} {% if usuario_list %}
        <table class="table table-striped text-center" id="usuario">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Username</th>
                    <th>Administrador</th>
                    <th>Puesto de trabajo</th>
                    <th>Acciones </th>
                </tr>
            </thead>

            <tbody>
                {% for usuario in usuario_list %}
                <tr>
                    <td>{% if usuario.first_name %}
                    {{ usuario.first_name}} {{usuario.last_name}}
                    {% else %}
                    Informacion no disponible
                    {% endif %}</td>
                    <td>{{ usuario.username }}</td>
                    <td>
                        {% if usuario.is_superuser %}
                            Si
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        {% if usuario.empleado.puesto.nombre %}
                            {{ usuario.empleado.puesto.nombre }}
                        {% else %}
                             Informacion no disponible
                        {% endif %}

                    </td>
                   <td class="d-flex justify-content-center">
                     <a class="btn btn-outline-info mr-2" href="{% url 'usuario:edit' usuario.id %}"><i class="fa fa-pencil icon-expe"></i></a>
                     <a class="btn btn-outline-info mr-2" href="{% url 'usuario:toggle' usuario.id %}">
                     {% if usuario.is_active %}
                        <i class="fa fa-unlock icon-expe"></i>
                    {%else%}
                        <i class="fa fa-lock icon-expe"></i>
                    {% endif %}
                    <a class="btn btn-outline-info mr-2" href="{% url 'usuario:add_rol' usuario.id %}"><i class="fa fa-user icon-expe"></i></a>
                    </a>                        
                   </td>
                </tr>   
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Usuarios no disponibles</p>
        {% endif %}
    </div>
</div>
{% endblock contenido %} {% block plugins %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    $('#usuario').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json",
        },
    });
</script>
{% endblock plugins %}