{% extends 'base.html' %} 
{% block head_title %} 
Editar Departamento Organizacional 
{% endblock head_title %} 
{% block titulo_principal %} 
Editar Departamento Organizacional 
{{genero.nombre}} 
{% endblock titulo_principal %} 
{% block enlace_actual %}
<li class="breadcrumb-item"><a href="/departamento_organizacion">Departamentos Organizacionales</a></li>
<li class="breadcrumb-item"><a href="{% url 'departamento_organizacion:edit' departamento_organizacion.id %}">Editar</a></li> {% endblock enlace_actual %} {% block contenido %}
<div class="tile">
    <div class="row">
        <div class="col-lg-12">
            {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>{% endif %}
            <form action="{% url 'departamento_organizacion:update' departamento_organizacion.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">Nombre </label>
                    <input class="form-control {% if errors.nombre %} is-invalid {% endif %}" id="nombre" type="text" name="nombre" value="{{departamento_organizacion.nombre}}"> {% if errors.nombre %}
                    <div class="form-control-feedback text-danger">
                        {{errors.nombre.0}}
                    </div>
                    {% endif %}
                </div>
                <input class="btn btn-outline-success" type="submit" value="Actualizar">
            </form>
        </div>
    </div>
</div>
{% endblock contenido %}