{% extends 'base.html' %} {% block head_title %} Editar Estado Civil {% endblock head_title %} {% block titulo_principal %} Editar {{estado_civil.nombre}} {% endblock titulo_principal %} {% block enlace_actual %}
<li class="breadcrumb-item"><a href="/estadocivil">Estado Civil</a></li>
<li class="breadcrumb-item"><a href="{% url 'estadocivil:edit' estado_civil.id %}">Editar</a></li> {% endblock enlace_actual %} {% block contenido %}
<div class="tile">
    <div class="row">
        <div class="col-lg-12">
            {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>{% endif %}
            <form action="{% url 'estadocivil:update' estado_civil.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">Nombre </label>
                    <input class="form-control {% if errors.nombre %} is-invalid {% endif %}" id="nombre" type="text" name="nombre" value="{{estado_civil.nombre}}">
                    {% if errors.nombre %}
                    <div class=" form-control-feedback text-danger ">
                        {{errors.nombre.0}}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="descripción">Descripción</label>
                    <textarea name="descripcion" id="descripcion" rows="4" name="descripcion" cols="30" class="form-control {% if errors.descripcion %} is-invalid {% endif %}">{{estado_civil.descripcion}}
                    </textarea>
                    {% if errors.descripcion %}
                    <div class=" form-control-feedback text-danger ">
                        {{errors.descripcion.0}}
                    </div>
                    {% endif %}
                </div>
                <input class="btn btn-outline-success" type="submit" value="Actualizar">
            </form>
        </div>
    </div>
</div>
{% endblock contenido %}