{% extends 'base.html' %} {% block head_title %} Estado Civil {% endblock head_title %} {% block titulo_principal %} Estado Civil {% endblock titulo_principal %} {% block enlace_actual %}
<li class="breadcrumb-item"><a href="/estadocivil">Estado Civil</a></li> {% endblock enlace_actual %} {% block contenido %}
<div class="tile">
    <div class="tile-body table-responsive">
        <div class="d-flex mb-2">
            <h3 class="tile-title">Estado Civil</h3>
            <div class="float-right ml-auto">
                <a class="btn btn-outline-success" href="{% url 'estadocivil:create' %}"><i
                        class="fa fa-plus icon-expe"></i>Registrar</a>
            </div>
        </div>
        {% if messages %} {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %} {% endif %} {% if estado_civil_list %}
        <table class="table table-striped text-center" id="estado_civil">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for estado_civil in estado_civil_list %}
                <tr>
                    <td>{{ estado_civil.nombre }}</td>
                    <td>{{ estado_civil.descripcion }}</td>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-outline-info mr-2" href="{% url 'estadocivil:edit' estado_civil.id %}"><i class="fa fa-pencil icon-expe"></i></a>
                        <form action="{% url 'estadocivil:delete' estado_civil.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger mr-2" type="submit" >
                                <i class="fa fa-trash icon-expe"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Estado Civiles no disponibles</p>
        {% endif %}
    </div>
</div>
{% endblock contenido %}
{% block plugins %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    $('#estado_civil').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json",
        },
    });
</script>
{% endblock plugins %}