{% extends 'base.html' %} 
{% block head_title %} 
Unidades 
{% endblock head_title %} 
{% block titulo_principal %} 
Unidades 
{% endblock titulo_principal %} 
{% block enlace_actual %}
<li class="breadcrumb-item"><a href="/unidad">Unidades</a></li> 
{% endblock enlace_actual %} 
{% block contenido %}
<div class="tile">
    <div class="tile-body table-responsive">
        <div class="d-flex mb-2">
            <h3 class="tile-title">Unidades</h3>
            <div class="float-right ml-auto">
                <a class="btn btn-outline-success" href="{% url 'unidad:create' %}"><i
                        class="fa fa-plus icon-expe"></i>Registrar</a>
            </div>
        </div>
        {% if messages %} 
            {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert {% if message.tags == 'error' %}alert-danger {% endif %}" role="alert">{{ message }}</div>
            {% else %}
                <div class="alert {% if message.tags == 'success' %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endif %}
            {% endfor %} 
        {% endif %} 
        {% if unidad_list %}
        <table class="table table-striped text-center" id="unidad">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo Unidad</th>
                     <th>Dirigido por:</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for unidad in unidad_list %}
                <tr>
                    <td>{{ unidad.nombre }}</td>
                    <td>{{ unidad.tipo_unidad.nombre }}</td>
                    {% if unidad.dirigido.nombre %}
                        <td>{{ unidad.dirigido.nombre}}</td>
                    {% else  %}
                        <td> No se encuentra asignado</td>
                    {% endif %}
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-outline-info mr-2" href="{% url 'unidad:edit' unidad.id %}"><i class="fa fa-pencil icon-expe"></i></a>
                        <form action="{% url 'unidad:delete' unidad.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger mr-2" type="submit" onclick="return confirm('¿Esta Seguro de Eliminar esta Unidad?');">
                                <i class="fa fa-trash icon-expe"></i>
                            </button>
                        </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Unidades no disponibles</p>
        {% endif %}
    </div>
</div>
{% endblock contenido %}
{% block plugins %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    $('#unidad').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json",
        },
    });
</script>
{% endblock plugins %}