{% extends 'base.html' %} {% block head_title %} Generos {% endblock head_title %} {% block titulo_principal %} Generos {% endblock titulo_principal %} {% block enlace_actual %}
<li class="breadcrumb-item"><a href="/genero">Generos</a></li> {% endblock enlace_actual %} {% block contenido %}
<div class="tile">
    <div class="tile-body table-responsive">
        <div class="d-flex mb-2">
            <h3 class="tile-title">Generos</h3>
            <div class="float-right ml-auto">
                <a class="btn btn-outline-success" href="{% url 'genero:create' %}"><i
                        class="fa fa-plus icon-expe"></i>Registrar</a>
            </div>
        </div>
        {% if messages %} {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %} {% endif %} {% if genero_list %}
        <table class="table table-striped text-center" id="genero">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for genero in genero_list %}
                <tr>
                    <td>{{ genero.nombre }}</td>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-outline-info mr-2" href="{% url 'genero:edit' genero.id %}"><i class="fa fa-pencil icon-expe"></i></a>
                          <form action="{% url 'genero:delete' genero.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger mr-2" type="submit" >
                                <i class="fa fa-trash icon-expe"></i>
                            </button>
                        </form>
                      
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Generos no disponibles</p>
        {% endif %}
    </div>
</div>
{% endblock contenido %} {% block plugins %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    $('#genero').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json",
        },
    });
</script>


{% endblock plugins %}