{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>
        {% block head_title %} Principal {% endblock head_title %}
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="/">PayrollApp</a>
        <!-- Sidebar toggle button-->
        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
            <!-- User Menu-->
            <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="/configuracion"><i class="fa fa-cog fa-lg"></i> Configuración</a></li>
                    <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-user fa-lg"></i> Profile</a></li>
                    <li><a class="dropdown-item" href="/logout?next=/login"><i class="fa fa-sign-out fa-lg"></i> Cerrar Sesión</a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
            <div>
                <p class="app-sidebar__user-name">John Doe</p>
                <p class="app-sidebar__user-designation">Frontend Developer</p>
            </div>
        </div>
        <ul class="app-menu">
            <li>
                <a class="app-menu__item" href="/"><img src="{% static 'images/home.svg' %}" alt="" width="25px">&nbsp; &nbsp;<span class="app-menu__label">Home</span></a>
            </li>
            <li class="treeview ">
                <a class="app-menu__item" href="#" data-toggle="treeview"><img src="{% static 'images/lista.svg' %}" alt="" width="25px">&nbsp; &nbsp;<span class="app-menu__label">Catálogos Empleado</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/profesion"><i class="icon fa fa-circle-o"></i> Profesiones</a></li>
                    <li><a class="treeview-item" href="/estadocivil"><i class="icon fa fa-circle-o"></i>Estado Civil</a></li>
                    <li><a class="treeview-item" href="/departamento"><i class="icon fa fa-circle-o"></i> Departamento Territorial</a></li>
                     <li><a class="treeview-item" href="/municipio"><i class="icon fa fa-circle-o"></i> Municipio Territorial</a></li>
                    <li><a class="treeview-item" href="/genero"><i class="icon fa fa-circle-o"></i>Generos</a></li>
                </ul>
            </li>
            <li class="treeview ">
                <a class="app-menu__item" href="#" data-toggle="treeview"><img src="{% static 'images/sociedad.svg' %}" alt="" width="25px">&nbsp; &nbsp;<span class="app-menu__label">Catálogos Empresa</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/tipounidad"><i class="icon fa fa-circle-o"></i> Tipo Unidad</a></li>
                    <li><a class="treeview-item" href="/departamento_organizacion"><i class="icon fa fa-circle-o"></i>Departamento Organizacional</a></li>
                     <li><a class="treeview-item" href="/unidad"><i class="icon fa fa-circle-o"></i> Unidades</a></li>
                    <li><a class="treeview-item" href="/puesto"><i class="icon fa fa-circle-o"></i> Puestos</a></li>
                    <li><a class="treeview-item" href="/centro_costo"><i class="icon fa fa-circle-o"></i> Centro de Costos</a></li>
                </ul>
            </li>
        </ul>
    </aside>
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-dashboard"></i> {% block titulo_principal %} Black {% endblock titulo_principal %}
                </h1>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                {% block enlace_actual %} {% endblock enlace_actual %}
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% block contenido %} Black {% endblock contenido %}
            </div>
        </div>
    </main>
    <!-- Essential javascripts for application to work-->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{% static 'js/plugins/pace.min.js' %}"></script>
    {% block plugins %} {% endblock plugins %}
</body>

</html>